.navbar {
    background-color: #fff;    
    width: auto;
    height: 4rem;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 1rem 1rem 0rem;
    border-radius: 10px;
}

.wrapper{
    width: 100%;
    display: flex;
    position: relative;
}

.search {
    display: flex;
    align-items: center;
    border: 0.5px solid lightgray;
    padding: 3px;
}

input{
    border: none;
    outline: none;
    background: transparent;
    
    &::placeholder{
        font-size: 12px;
    }
}

.items{
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
}

.item{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

p{
    font-size: 13px;
    padding-top: 2px;
}

.clickable:hover{
    cursor: pointer;
    color: black;
}