*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App{
  background-color: #efefef;
  height: 100vh;
}

.home{
  display: flex;
  height: 100%;

}

.homeContainer{
  width: 100%;
  background-color: #efefef;
  flex: 10;
}